.login-box{
    width: 240px;
    height: auto;
    padding: 10px;
    background: #fff;
    float: right;
}

.login-box input{
    border: 1px solid #f4f4f4;
    margin-bottom: .4rem;
}

.login-box div{
    margin-bottom: .4rem;
}

